.btn {
	background-color: #DDAB24;
	font-family: 'PTSansBold';
	font-size: 16px;
	text-transform: uppercase;
	padding: 11px 60px;
	border-radius: 0px;
	border: 0px;
	color: #fff;
	outline: none;
	display: inline-block;
}

.btn:hover {
	background-color: #d89e00;
	color: #fff;
	cursor: pointer;
	outline: none;
	box-shadow: 3px 4px 4px 0px rgba(0,0,0,0.2);
}
.btn:active,.btn:focus {
	background-color: #d89e00;
	color: #fff;
	cursor: pointer;
	outline: none;
}

.btn-blue {
	background-color: #001e96;
}
.btn-blue:hover {
	background-color: #021252;
}
.btn-blue:active,.btn-blue:focus {
	background-color: #021252;
}

.btn-gray {
	background-color: #9b9b9b;
}
.btn-gray:hover {
	background-color: #777777;
}
.btn-gray:active,.btn-blue:focus {
	background-color: #777777;
}